@import '../../../assets/sass-imports/variables', '../../../assets/sass-imports/_mixins', '../../../assets/sass-imports/_reset';

.main {
  font-family: 'Karla-300';
  @include flex(row, nowrap, center, center);
  min-width: 100%;
  height: 100vh;
  background: $yellow-gradient;
  padding-left: 5em;
  padding-top: 10em;
  color: #212121;

  @media screen and (max-width: 800px) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    margin-top: 6em;
  }

  &__button {
    background: #73D677;
    padding: 1em 2em;
    padding-bottom: 1.4em;
    border-radius: 11px;
    cursor: pointer;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    font-size: .9em;
    font-family: 'Karla-700';
    border: hidden;
    outline: none;
    max-width: 15em;
    text-align: center;
  }

  &__text {
    margin-right: 2em;
    max-width: 35em;

    @media screen and (max-width: 800px) {
      margin: 0;
      margin-top: 2em;
      text-align: left;
      padding: 1em 1em;
    }
  }

  &__h1 {
    font-size: clamp(1em, 5vw, 8em);
    margin-bottom: .3em;
    line-height: 1em;
  }

  &__img {
    @include flex(row, nowrap, center, center);
    max-width: 60em;


    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__p {
    font-family: 'Karla-400';
    font-size: clamp(1em, 2vw, 3em);
    line-height: 1em;
    margin-bottom: 1.2em;
  }
}
