@font-face{
    font-family: 'Karla';
    src: url(../fonts/Karla-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'Karla-200';
    src: url(../fonts/Karla-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 200;
}

@font-face{
    font-family: 'Karla-300';
    src: url(../fonts/Karla-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 300;
}

@font-face{
    font-family: 'Karla-400';
    src: url(../fonts/Karla-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: 'Karla-700';
    src: url(../fonts/Karla-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face{
    font-family: 'Karla-500';
    src: url(../fonts/Karla-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face{
    font-family: 'Source Sans Pro';
    src:  url(../fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}