$third: #F5DB13;
$primary : #F2B807;
$second : #F28F16;
$gray : #F6F7F9;
$yellow-gradient: linear-gradient(180deg, #F5DB13 0%, #F2B807 100%);
$pokemon-card-gradient : linear-gradient(270deg, #B33327 0.15%, #D93E30 100%);
$gold-gradient: radial-gradient(677.11% 487.95% at 102.13% -20%, #B57E10 0%, #B57E10 20.31%, #F9DF7B 39.58%, #FFF3A6 59.38%, #F9DF7B 78.13%, #B57E10 100%);
$colors : (#B69E31, #70559B, #B7B9D0, #6493EB, #AAA67F, #F57D31, #3d9e0c, #F9CF30, #9AD6DF, #C12239, #A43E9E, #DEC16B, #A891EC, #FB5584, #A7B723, #7037FF, #75574C, #E69EAC);
